:root { 
--gray_500:#a7a7a7; 
--blue_gray_50:#edeff2; 
--blue_800:#0360d9; 
--gray_900:#021526; 
--gray_900_01:#0b1523; 
--blue_50:#e6f5fc; 
--amber_A400:#f5bf00; 
--black_900_87:#00000087; 
--black_900:#000000; 
--blue_gray_900_02:#163048; 
--blue_gray_900_01:#153048; 
--blue_50_01:#e1eeff; 
--pink_500:#f22e52; 
--blue_gray_900:#2e2e2e; 
--blue_200:#a4cbff; 
--white_A700:#ffffff; 
}